<h1>This is a private page</h1>
<p>Enjoy the gif or logout here<p style="font-size:48px">
👇
</p></p>
 <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>


<img src="https://media1.giphy.com/media/8cBhAxMdHSgORjQ8By/giphy.webp" alt="">