body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  background-image: url(https://placekitten.com/1000/1000);
  background-repeat: no-repeat;
  background-size: cover;
}